<!-- templates/header.html -->
{% set current_page = request.path %}

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="{{ url_for('static', filename='images/clu.png') }}" alt="CLU (Comic Library Utilities) Logo" width="72"">
      </a>
      
      <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="{{ url_for('index') }}" class="nav-link {% if current_page == url_for('index') %}active{% endif %}" aria-current="page">
                Home
            </a>
        </li>
      <li class="nav-item">
        <a href="{{ url_for('files_page') }}" class="nav-link position-relative {% if current_page == url_for('files_page') %}active{% endif %}">
          File Manager
          <span id="file-watch-badge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info d-none">
            0
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('status') }}" class="nav-link position-relative {% if current_page == url_for('status') %}active{% endif %}">
          Downloads
          <span id="download-badge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none">
            0
          </span>
        </a>
      </li>  
        <li class="nav-item">
            <a href="{{ url_for('config_page') }}" class="nav-link {% if current_page == url_for('config_page') %}active{% endif %}">
                Settings
            </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('app_logs_page') }}" class="nav-link {% if current_page == url_for('app_logs_page') %}active{% endif %}">
              App Logs
          </a>
        </li>
        {% if monitor == "yes" %}
        <li class="nav-item">
          <a href="{{ url_for('mon_logs_page') }}" class="nav-link {% if current_page == url_for('mon_logs_page') %}active{% endif %}">
              Monitor Logs
          </a>
        </li>
        {% endif %}
    </ul>

    </header>
  </div>