{% extends 'base.html' %}

{% block title %}CLU: Monitoring Logs{% endblock %}

{% block content %}
<div class="container-lg">
    <h1 class="text-center">
        System Monitoring Logs 
    </h1>   
    <pre id="log-output" style="border:1px solid #ccc; padding:10px; height:600px; overflow:auto; background-color: black; color: white;"></pre>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const logOutput = document.getElementById('log-output');
            const eventSource = new EventSource('/stream/mon'); // Match Flask endpoint for app logs

            eventSource.onmessage = function(event) {
                logOutput.textContent += event.data + "\n";
            };

            eventSource.onerror = function(error) {
                console.error("EventSource failed: ", error);
            };
        });
    </script>
{% endblock %}
